@import "_partials/base";

.owl-carousel {
	list-style : none;
	padding: 0 0 40px;
	&.gl {
		.owl-item {
			text-align: center;
			float: none;
			@include inline-block();

			img { 
				width  : 100%;
				height: auto;
			}
		}
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next {
		width 	: 21px;
		height 	: 42px;

		position: absolute;
		top : 40%;
	}

	.owl-nav .owl-prev{
		background : url('../../img/am2018/public/arrow-left.png');
		left: 0;
	}
	.owl-nav .owl-next{
		background : url('../../img/am2018/public/arrow-right.png');
		right: 0;
	}
}

/*title sub heading*/
.title-carousel{
	text-align: center;
	h3{
		font-size 	: rem( 30px );
		font-family : $font-signika-reg;
		color: $color-black-1;
	}
	.tc-small{
		font-size 	: rem( 20px );
		font-family : $font-signika-light;
	}
}

/*caption text inside owl carousel each image*/
.caption {
	position: absolute;
	bottom 	: 0;
	right 	: 0;
	width 	: 99%;


	text-align 	: left;
	padding 	: 10px 0 10px 10px;
	min-height 	: 45px;
	line-height : 1.5;

	@include rgba-background(rgba(0, 0, 0, 0.4));

	&:hover {
		.text-info {
			display: block;
		}
	}


	.subtitle {
		line-height : 1.7; 
		color 		: $color-white;
		font-family : $font-helvetica;
		font-size 	: rem(18px);
		font-weight : bold;

		margin: 0;
		padding: 0;
	}
	.subtext{
		padding: 0;
		margin: 0;

		font-family : $font-helvetica;
		font-size 	: rem(13px);
		color 		: $color-white;
	}
}
