@import "_partials/base";
@import "_partials/common";

#st_top_header {
	.sub{
		color  	  : #9EAAB5;
		font-size : rem(15px);
	}
}

$nav-height : 100px;
.nav-bar {
	height  	: $nav-height;
	max-height  : $nav-height; 

	.module {
		height : $nav-height;
	}

		/**
		 * LEFT
		 */
		a {
			height : auto;
		}

		.logo-link {
			margin : 16px 0 0;
		}
}

		/**
		 * RIGHT
		 */
		#st_menu {
			/* cllass in header blade top v-align-children*/
			margin : 20px 0 0;

			.module {
				height : 55px;
			}
		}

.menu{
	&> li {

		ul {

			li {
			}

			&:first-child {
			}

			&:last-child {
			}
		}

		&:hover {
			&> ul {

			}
		}
	}
}

#st_footer {
	padding : 40px 0 30px;
	background-color: #486174;
}
	#st_foot_contact {
		.lbl,
		.value {
			font-weight : 600;
			@include inline-block( middle );
		}
		.value {
			margin 		: 0 0 0 40px;
		}
	}

#copyright{
	color: #FFF;
	text-align: center;
}

.menu{
	li{
		ul{
			background : #405767;
		}
	}
}

/**
 * MEDIA QUERIES
 */

/*text MENU for navigation*/
 .ti-txt-menu{
 	display: none;

 	float: left;
 	margin: 20px 12px 0 0;
 }

@include max-screen( $mq-size-xl )
{
	.ti-txt-menu{
		display: block;
	}
	.module.widget-handle i{
		font-size: 25px;
	}

	#st_menu, 
	.nav-bar {
	 	 .module {
			height : auto;	 	 	
	 	 }
	}
	.nav-bar {
		.module {
			&.widget-handle.mobile-toggle {
				margin : 20px 0 0;
				border : 0 !important;
				display: block !important;
			}
		}
	}

	.nav-bar .module-group .module{
		display: block;
		float: none;
		width: 100%;		
	}
}

@include max-screen( $mq-size-l )
{

}