/* Imports */
@import "../modules/helpers";
@import "../modules/media-queries";

/* Compass plugins */
@import "compass/css3";
@import "rgbapng"; /* gem install compass-rgbapng */


/* RGBAPNG Configuration */
$rgbapng_path    : "../public/img/am2018/rgba";
$rgbapng_px_size : 8;

/* COLOR LIST; */
$color-white : #FFF;

/* MEDIA QUERIES */
$mq-size-xl : 1379px;
$mq-size-l : 990px;
