/* Imports */
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Helvetica.ttf");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "Raleway Semibold";
  src: url("fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Signika Light";
  src: url("fonts/Signika-Light.ttf");
}
@font-face {
  font-family: "Signika Regular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Signika-Regular.ttf");
}
@font-face {
  font-family: "Signika Semibold";
  src: url("fonts/Signika-Semibold.ttf");
}
@font-face {
  font-family: "Indonesiana Serif";
  src: url("fonts/Indonesiana-Serif.ttf");
}
/* Compass plugins */
/* gem install compass-rgbapng */
/* RGBAPNG Configuration */
/* COLOR LIST; */
/* MEDIA QUERIES */
/* Paths */
/* Fonts */
/* line 3, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel {
  list-style: none;
  padding: 0 0 40px;
}
/* line 7, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel.gl .owl-item {
  text-align: center;
  float: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 12, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel.gl .owl-item img {
  width: 100%;
  height: auto;
}
/* line 19, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width: 21px;
  height: 42px;
  position: absolute;
  top: 40%;
}
/* line 28, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel .owl-nav .owl-prev {
  background: url("../../img/am2018/public/arrow-left.png");
  left: 0;
}
/* line 32, ../../../resources/assets/sass/f/carousel-3-images.scss */
.owl-carousel .owl-nav .owl-next {
  background: url("../../img/am2018/public/arrow-right.png");
  right: 0;
}

/*title sub heading*/
/* line 39, ../../../resources/assets/sass/f/carousel-3-images.scss */
.title-carousel {
  text-align: center;
}
/* line 41, ../../../resources/assets/sass/f/carousel-3-images.scss */
.title-carousel h3 {
  font-size: 3rem;
  font-family: "Signika Regular";
  color: #4C4C4C;
}
/* line 46, ../../../resources/assets/sass/f/carousel-3-images.scss */
.title-carousel .tc-small {
  font-size: 2rem;
  font-family: "Signika Light";
}

/*caption text inside owl carousel each image*/
/* line 53, ../../../resources/assets/sass/f/carousel-3-images.scss */
.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 99%;
  text-align: left;
  padding: 10px 0 10px 10px;
  min-height: 45px;
  line-height: 1.5;
  background: url('/images/../public/img/am2018/rgba/00000066-8.png?1499872718');
  background: rgba(0, 0, 0, 0.4);
}
/* line 68, ../../../resources/assets/sass/f/carousel-3-images.scss */
.caption:hover .text-info {
  display: block;
}
/* line 74, ../../../resources/assets/sass/f/carousel-3-images.scss */
.caption .subtitle {
  line-height: 1.7;
  color: #FFF;
  font-family: "Helvetica";
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
/* line 84, ../../../resources/assets/sass/f/carousel-3-images.scss */
.caption .subtext {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  font-size: 1.3rem;
  color: #FFF;
}
