/* Imports */
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Helvetica.ttf");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "Raleway Semibold";
  src: url("fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Signika Light";
  src: url("fonts/Signika-Light.ttf");
}
@font-face {
  font-family: "Signika Regular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Signika-Regular.ttf");
}
@font-face {
  font-family: "Signika Semibold";
  src: url("fonts/Signika-Semibold.ttf");
}
@font-face {
  font-family: "Indonesiana Serif";
  src: url("fonts/Indonesiana-Serif.ttf");
}
/* Compass plugins */
/* gem install compass-rgbapng */
/* RGBAPNG Configuration */
/* COLOR LIST; */
/* MEDIA QUERIES */
/* Paths */
/* Fonts */
/*override scss*/
/* line 4, ../../../resources/assets/sass/f/discover-indonesia.scss */
.wysiwyg li {
  text-align: left;
}

/* line 8, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-inline {
  overflow: hidden;
}

/* line 11, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container {
  border-bottom: 1px solid #CCC;
  padding-bottom: 33px;
  padding: 0 0 30px 10px;
  margin-bottom: 36px;
}
/* line 17, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container.no-mb {
  margin-bottom: 0;
}
/* line 20, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-box {
  /*@include inline-block(top);*/
  /*width: 75%;*/
  padding-left: 24px;
  overflow: hidden;
}
/* line 26, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-box.info {
  line-height: 2;
}
/* line 30, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-box a:hover {
  text-decoration: underline;
}
/* line 35, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-label {
  font-family: "Signika Semibold";
  font-size: 2.8rem;
  color: #4C4C4C;
  line-height: normal;
}
/* line 43, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-desc {
  font-family: "Helvetica";
  font-size: 1.8rem;
  color: #656565;
  line-height: 1.8;
  padding: 10px 0 8px;
}
/* line 50, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-desc.info {
  padding: 5px 3px;
}
/* line 55, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-image {
  float: left;
}
/* line 58, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-link {
  font-family: "Signika Regular";
  font-size: 1.8rem;
  color: #323232;
  font-weight: normal;
}
/* line 63, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-link:hover {
  text-decoration: underline;
}
/* line 67, ../../../resources/assets/sass/f/discover-indonesia.scss */
.fi-container .fi-info {
  font-family: "Helvetica";
  font-size: 1.8rem;
  color: #656565;
}

/* line 74, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-title-link {
  text-align: center;
  padding: 60px 0 32px;
}
/* line 78, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-title-link .ftl-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: "Signika Regular";
  font-size: 3rem;
  color: #4C4C4C;
  margin: 0;
}
/* line 87, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-title-link .ftl-link {
  float: right;
  font-family: "Signika Light";
  font-size: 1.8rem;
  color: #CF347C;
}
/* line 94, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-title-link .ftl-link:hover {
  text-decoration: underline;
}

/* line 100, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split {
  padding-bottom: 50px;
}
/* line 17, ../../../resources/assets/sass/modules/_helpers.scss */
.faq-split:before, .faq-split:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 22, ../../../resources/assets/sass/modules/_helpers.scss */
.faq-split:after {
  clear: both;
}
/* line 105, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-box {
  width: 400px;
  background-color: #F9F9F9;
}
/* line 109, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-box.left {
  float: left;
}
/* line 112, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-box.right {
  float: right;
}
/* line 116, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-box p {
  text-align: left;
  line-height: 2;
  font-family: "Helvetica";
  font-size: 1.8rem;
  color: #4C4C4C;
}
/* line 125, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-container {
  padding: 27px 45px 0 23px;
  min-height: 275px;
}
/* line 129, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-split .fs-title {
  font-family: "Signika Semibold";
  font-size: 2.8rem;
  color: #4C4C4C;
  margin: 0;
  padding-bottom: 15px;
}

/* line 139, ../../../resources/assets/sass/f/discover-indonesia.scss */
.icons {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 12px;
}
/* line 143, ../../../resources/assets/sass/f/discover-indonesia.scss */
.icons.marker {
  background: url("../../img/am2018/public/icon-marker.png") no-repeat;
  width: 16px;
  height: 19px;
}
/* line 146, ../../../resources/assets/sass/f/discover-indonesia.scss */
.icons.globe {
  background: url("../../img/am2018/public/icon-globe.png") no-repeat;
  width: 19px;
  height: 19px;
}
/* line 149, ../../../resources/assets/sass/f/discover-indonesia.scss */
.icons.telephone {
  background: url("../../img/am2018/public/icon-telephone.png") no-repeat;
  width: 18px;
  height: 18px;
}

/* line 155, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq .accordion-2 .title:before {
  display: none;
}

/* line 159, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle {
  float: left;
  margin: 15px 20px 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 14px;
  border-color: transparent transparent transparent #007bff;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #007bff;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
/* line 172, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.purple {
  border-color: transparent transparent transparent #F42A9E;
  _border-color: #000000 #000000 #000000 #F42A9E;
}
/* line 177, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.dark-purple {
  border-color: transparent transparent transparent #B8008A;
  _border-color: #000000 #000000 #000000 #B8008A;
}
/* line 182, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.blue {
  border-color: transparent transparent transparent #0097E7;
  _border-color: #000000 #000000 #000000 #0097E7;
}
/* line 187, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.dark-blue {
  border-color: transparent transparent transparent #0071BC;
  _border-color: #000000 #000000 #000000 #0071BC;
}
/* line 192, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.yellow {
  border-color: transparent transparent transparent #FFD500;
  _border-color: #000000 #000000 #000000 #FFD500;
}
/* line 198, ../../../resources/assets/sass/f/discover-indonesia.scss */
.faq-triangle.orange {
  border-color: transparent transparent transparent #FF7600;
  _border-color: #000000 #000000 #000000 #FF7600;
}
