/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* RGBAPNG Configuration */
/* MEDIA QUERIES */
/* line 3, ../../../resources/assets/sass/f/home.scss */
#about {
  padding: 40px 0 10px;
}
/* line 6, ../../../resources/assets/sass/f/home.scss */
#about .logo-voyage {
  margin: 85px 0 30px;
}
/* line 11, ../../../resources/assets/sass/f/home.scss */
#about .desc .uppercase {
  font-weight: 600;
}

/* line 17, ../../../resources/assets/sass/f/home.scss */
#news_wrapper {
  background: #F7F8F8;
  padding: 40px 0 10px;
}

/* line 21, ../../../resources/assets/sass/f/home.scss */
#news {
  padding: 0;
}

/* line 25, ../../../resources/assets/sass/f/home.scss */
#countdown {
  padding: 40px 0;
  background: #33CCCC;
  color: #FFF;
}
/* line 30, ../../../resources/assets/sass/f/home.scss */
#countdown .header-title {
  font-size: 2.6rem;
  margin: 0 0 30px;
}

/* line 37, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .text,
.countdown-timer .label {
  display: block;
}
/* line 42, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .days,
.countdown-timer .sep,
.countdown-timer .hours {
  font-size: 6rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 49, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .sep {
  margin: 0 0 8px;
}
/* line 53, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .label {
  margin: 10px 0 0;
  font-weight: 400;
  background: none;
}

/* line 61, ../../../resources/assets/sass/f/home.scss */
#follow i {
  font-size: 5rem;
  margin: 0 40px 0 0;
}

/**
 * MEDIA QUERIES
 */
@media screen and (max-width: 990px) {
  /* line 73, ../../../resources/assets/sass/f/home.scss */
  #about .logo-voyage {
    margin-top: 0;
    text-align: center;
  }
}
