/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* RGBAPNG Configuration */
/* MEDIA QUERIES */
/* line 3, ../../../resources/assets/sass/f/home.scss */
#about {
  padding: 40px 0 10px;
}
/* line 6, ../../../resources/assets/sass/f/home.scss */
#about .logo-voyage {
  margin: 85px 0 30px;
}
/* line 11, ../../../resources/assets/sass/f/home.scss */
#about .desc .uppercase {
  font-weight: 600;
}

/* line 17, ../../../resources/assets/sass/f/home.scss */
#news_wrapper {
  background: #F7F8F8;
  padding: 40px 0 10px;
}

/* line 22, ../../../resources/assets/sass/f/home.scss */
#news {
  padding: 0;
}
/* line 25, ../../../resources/assets/sass/f/home.scss */
#news .col-sm-4 {
  padding-right: 0;
}
/* line 31, ../../../resources/assets/sass/f/home.scss */
#news .image-caption .caption {
  text-align: left;
  padding: 0 5px 5px;
  min-height: 75px;
  line-height: 1.5;
  background: url('/images/../public/img/am2018/rgba/303c8d7f-8.png?1495018327');
  background: rgba(48, 60, 141, 0.5);
}
/* line 40, ../../../resources/assets/sass/f/home.scss */
#news .image-caption h4 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 54, ../../../resources/assets/sass/f/home.scss */
#countdown {
  padding: 40px 0;
  background: #688CA7;
  color: #FFF;
}
/* line 59, ../../../resources/assets/sass/f/home.scss */
#countdown .header-title {
  font-size: 2.6rem;
  margin: 0 0 30px;
}

/* line 66, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .text,
.countdown-timer .label {
  display: block;
}
/* line 71, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .days,
.countdown-timer .hours,
.countdown-timer .mins,
.countdown-timer .secs,
.countdown-timer .sep {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 4rem;
  margin: 0 25px 0 0;
}
/* line 82, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .ti-time {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 3rem;
  margin: 0 15px 15px 0;
}
/* line 89, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .sep {
  margin: 0 25px 15px 0;
  font-size: 25px;
}
/* line 94, ../../../resources/assets/sass/f/home.scss */
.countdown-timer .label {
  margin: 5px 0 0;
  padding: 0;
  font-weight: 400;
  background: none;
}

/* line 101, ../../../resources/assets/sass/f/home.scss */
#timer {
  margin: 10px 0 0;
}

/* line 105, ../../../resources/assets/sass/f/home.scss */
#follow {
  margin: 10px 0 0;
}
/* line 107, ../../../resources/assets/sass/f/home.scss */
#follow i {
  font-size: 4rem;
  margin: 0 25px 0 0;
}
/* line 111, ../../../resources/assets/sass/f/home.scss */
#follow .fo-col {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 114, ../../../resources/assets/sass/f/home.scss */
#follow .header-title {
  margin: 0 20px 0 0;
}

/**
 * MEDIA QUERIES
 */
@media screen and (max-width: 990px) {
  /* line 125, ../../../resources/assets/sass/f/home.scss */
  #about .logo-voyage {
    margin-top: 0;
    text-align: center;
  }
}
