/* Imports */
/* Compass plugins */
/* gem install compass-rgbapng */
/* RGBAPNG Configuration */
/* MEDIA QUERIES */
/**
 * TAGS
 */
/* line 4, ../../../resources/assets/sass/f/_partials/_common.scss */
section {
  padding: 50px 0 30px;
}

/**
 * GENERAL CLASSES
 */
/* line 11, ../../../resources/assets/sass/f/_partials/_common.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 14, ../../../resources/assets/sass/f/_partials/_common.scss */
.color-white {
  color: #FFF;
}

/* line 17, ../../../resources/assets/sass/f/_partials/_common.scss */
.color-link {
  color: #5252EF;
}

/* line 22, ../../../resources/assets/sass/f/_partials/_common.scss */
.bg-tertiary {
  background-color: #323347;
}
/* line 25, ../../../resources/assets/sass/f/_partials/_common.scss */
.bg-tertiary.btn {
  border: 2px solid #323347;
}
/* line 28, ../../../resources/assets/sass/f/_partials/_common.scss */
.bg-tertiary.btn:hover, .bg-tertiary.btn:visited {
  background-color: #323347;
}

/* line 35, ../../../resources/assets/sass/f/_partials/_common.scss */
.fw600 {
  font-weight: 600;
}

/**
 * SPECIFIC CLASSES
 */
/* line 43, ../../../resources/assets/sass/f/_partials/_common.scss */
.logo-carousel img {
  max-height: 115px;
}

/* line 48, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar .container {
  width: auto;
  padding-left: 35px;
  padding-right: 35px;
}
/* line 54, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar.thin {
  padding: 25px 0 20px;
  height: auto;
  min-height: 0;
}
/* line 59, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar.thin .lbl {
  display: none;
}
/* line 63, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar.thin .crumbs {
  width: 100%;
}
/* line 68, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar.thin li a {
  color: #292929;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 73, ../../../resources/assets/sass/f/_partials/_common.scss */
.navbar.thin li.active {
  color: #292929;
}

/* line 79, ../../../resources/assets/sass/f/_partials/_common.scss */
.image-square-title {
  padding: 75px 0 0;
}
/* line 82, ../../../resources/assets/sass/f/_partials/_common.scss */
.image-square-title .title {
  font-size: 3rem;
}
/* line 85, ../../../resources/assets/sass/f/_partials/_common.scss */
.image-square-title .lead {
  margin-bottom: 0;
}

/* line 89, ../../../resources/assets/sass/f/_partials/_common.scss */
.image-square {
  height: 450px;
}
/* line 92, ../../../resources/assets/sass/f/_partials/_common.scss */
.image-square .desc {
  line-height: 2.1;
  font-size: 1.5rem;
  text-align: justify;
}

/* line 99, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg ul {
  list-style: disc;
  font-size: 1.4rem;
  margin-left: 20px;
  margin-top: 15px;
}
/* line 105, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg ul ol,
.wysiwyg ul ul {
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 25px;
}
/* line 111, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg ul ol li,
.wysiwyg ul ul li {
  margin-top: 10px;
}
/* line 117, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg ul.b-space li {
  margin-bottom: 25px;
}
/* line 122, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg li {
  line-height: 2.1;
  text-align: justify;
}
/* line 128, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg table thead th {
  padding-top: 15px;
  padding-bottom: 20px;
}
/* line 132, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg table thead th.l-sep {
  padding-left: 20px;
}
/* line 138, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg table tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
/* line 143, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg table tbody td.l-sep {
  padding-left: 20px;
  border-left: 1px solid #DEDEDE;
}

/**
 * SIDEBAR
 */
/* line 156, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar {
  margin: 40px 0;
  border-right: 1px solid #DADADA;
}
/* line 161, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav ul {
  margin: 0;
}
/* line 165, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav a {
  color: #292929;
  padding: 0;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 171, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav a:hover {
  background: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 177, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav .lbl {
  font-size: 1.3rem;
  text-transform: uppercase;
}
/* line 182, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav li {
  padding: 0 0 15px;
}
/* line 187, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav li.active .lbl {
  color: #292929;
  font-weight: 600;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 194, ../../../resources/assets/sass/f/_partials/_common.scss */
.sidebar .nav li ul {
  margin: 25px 0 0 30px;
}

/* line 201, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg {
  font-size: 1.6rem;
  line-height: 2.2;
  padding: 30px 0 30px 25px;
}
/* line 206, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg .title {
  margin: 0 0 15px;
  font-size: 3rem;
}
/* line 211, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg p {
  margin-bottom: 30px;
}
/* line 214, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg p.no-mb {
  margin-bottom: 0;
}
/* line 219, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg ul {
  margin: 5px 30px 30px 25px;
}
/* line 223, ../../../resources/assets/sass/f/_partials/_common.scss */
.wysiwyg li {
  font-size: 1.6rem;
  line-height: 2.1;
}

/*this for nav bar in EVENT SCHEDULE BOTTOM / MORNING, AFTERNOON, EVENING*/
/* line 230, ../../../resources/assets/sass/f/_partials/_common.scss */
.button-tabs .active .tab-title {
  background: #0097FE;
}
/* line 233, ../../../resources/assets/sass/f/_partials/_common.scss */
.button-tabs .active .tab-title:hover {
  background: #0097FE;
}

/**
 * FAQs
 */
/* line 241, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq {
  margin: 0 0 25px;
  padding: 0;
}
/* line 245, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq ul {
  list-style: none;
  margin: 0;
}
/* line 250, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .title {
  background: #405767;
  line-height: 1;
  padding: 15px 20px;
  margin: 20px 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 257, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .title h4 {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
}
/* line 263, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .title:hover {
  background: #576F80;
}
/* line 268, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .content {
  padding: 0 20px;
}
/* line 271, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .content p {
  padding: 0;
}
/* line 275, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .content ul {
  list-style: disc;
  margin: 15px 0 0 20px;
}
/* line 284, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .accordion li.active .content {
  margin: 25px 0 40px;
  max-height: initial;
}
/* line 294, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq .accordion-2 .title:before {
  font-size: 2.6rem;
  margin: 7px 9px 0 0;
  float: right;
  color: #FFF;
}
/* line 306, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events ul {
  list-style: none;
  margin: 0;
}
/* line 311, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events li {
  padding: 0;
}
/* line 314, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events li.even {
  padding-left: 10px;
}
/* line 318, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events li.odd {
  clear: left;
  padding-right: 10px;
}
/* line 324, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events li.active .content {
  margin: 10px 0;
}
/* line 330, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events .title {
  text-align: center;
  text-transform: uppercase;
}
/* line 335, ../../../resources/assets/sass/f/_partials/_common.scss */
.faq.events .content {
  padding: 0;
}

/* line 347, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item {
  margin: 0 0 7px;
  border: 1px solid #ABABAB;
  line-height: 1.8;
  text-align: left;
  position: relative;
}
/* line 356, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item:before {
  content: "";
  background: #6AB834;
  width: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
}
/* line 367, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item .inner {
  padding: 20px 10px 20px 40px;
  line-height: auto;
}
/* line 373, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item.bg-tag-1:before {
  background: #6AB834;
}
/* line 379, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item.bg-tag-2:before {
  background: #4BACC6;
}
/* line 385, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item.bg-tag-3:before {
  background: #FAC090;
}
/* line 391, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-tags .item.bg-tag-4:before {
  background: #B3A2C7;
}

/* line 399, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .tag {
  background: #6AB834;
  margin: 0 10px 0 0;
  width: 17px;
  height: 30px;
  float: left;
}
/* line 408, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .tag.bg-tag-1 {
  background: #6AB834;
}
/* line 412, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .tag.bg-tag-2 {
  background: #4BACC6;
}
/* line 416, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .tag.bg-tag-3 {
  background: #FAC090;
}
/* line 420, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .tag.bg-tag-4 {
  background: #B3A2C7;
}
/* line 425, ../../../resources/assets/sass/f/_partials/_common.scss */
.event-legend .lbl {
  margin: 2px 0 0;
  display: block;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 1.4;
}

/**
 * SPECIFICS
 */
/* line 438, ../../../resources/assets/sass/f/_partials/_common.scss */
#st_sponsors {
  padding: 40px 0;
}
/* line 441, ../../../resources/assets/sass/f/_partials/_common.scss */
#st_sponsors .title {
  margin-bottom: 40px;
  font-weight: 600;
}
/* line 447, ../../../resources/assets/sass/f/_partials/_common.scss */
#st_sponsors .flex-viewport li {
  line-height: 115px;
}

/* line 5, ../../../resources/assets/sass/f/main.scss */
#st_top_header .sub {
  color: #9EAAB5;
  font-size: 1.5rem;
}

/* line 12, ../../../resources/assets/sass/f/main.scss */
.nav-bar {
  height: 100px;
  max-height: 100px;
  /**
   * LEFT
   */
}
/* line 16, ../../../resources/assets/sass/f/main.scss */
.nav-bar .module {
  height: 100px;
}
/* line 23, ../../../resources/assets/sass/f/main.scss */
.nav-bar a {
  height: auto;
}
/* line 27, ../../../resources/assets/sass/f/main.scss */
.nav-bar .logo-link {
  margin: 16px 0 0;
}

/**
 * RIGHT
 */
/* line 35, ../../../resources/assets/sass/f/main.scss */
#st_menu {
  /* cllass in header blade top v-align-children*/
  margin: 20px 0 0;
}
/* line 39, ../../../resources/assets/sass/f/main.scss */
#st_menu .module {
  height: 55px;
}

/* line 67, ../../../resources/assets/sass/f/main.scss */
#st_footer {
  padding: 40px 0 30px;
  background-color: #486174;
}

/* line 72, ../../../resources/assets/sass/f/main.scss */
#st_foot_contact .lbl,
#st_foot_contact .value {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 77, ../../../resources/assets/sass/f/main.scss */
#st_foot_contact .value {
  margin: 0 0 0 40px;
}

/* line 82, ../../../resources/assets/sass/f/main.scss */
#copyright {
  color: #FFF;
  text-align: center;
}

/* line 89, ../../../resources/assets/sass/f/main.scss */
.menu li ul {
  background: #405767;
}

/**
 * MEDIA QUERIES
 */
@media screen and (max-width: 990px) {
  /* line 103, ../../../resources/assets/sass/f/main.scss */
  #st_menu .module,
  .nav-bar .module {
    height: auto;
  }

  /* line 110, ../../../resources/assets/sass/f/main.scss */
  .nav-bar .module.widget-handle.mobile-toggle {
    margin: 20px 0 0;
    border: 0 !important;
  }
}
